<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Adventure Kit</title>

        <link rel="stylesheet" href="/dist/css/all.css">

        <script src="/dist/js/all.js"></script>
    </head>

    <body>
        <div id="root">
            <div class="tile-map">
                <canvas id="tile-bg-canvas" width="512" height="512"></canvas>
                <canvas id="tile-surface-canvas" width="512" height="512">
                </canvas>
                <canvas id="tile-overlay-canvas" width="512" height="512">
                </canvas>
            </div>

            <div class="draw">
                <canvas id="draw-bg-canvas" width="512" height="512"></canvas>
                <canvas id="draw-surface-canvas" width="512" height="512">
                </canvas>
                <canvas id="draw-overlay-canvas" width="512" height="512">
                </canvas>
            </div>
        </div>
    </body>
</html>
