<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>hiro</title>

        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/app.css">

        <script src="/js/all.js"></script>
    </head>

    <body>
        <div id="root">
            <canvas id="bg-canvas"></canvas>
            <canvas id="draw-canvas"></canvas>
        </div>
    </body>
</html>
