<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Adventure Kit</title>
        <link rel="icon" href="/favicon.ico?q=1">

        <link rel="stylesheet" href="/dist/css/all.css">

        <script src="/dist/js/all.js"></script>
    </head>

    <body>
        <div id="root">
            <header id="header">
                <h1 class="title">Adventure Kit</h1>
                <nav>
                    <ul class="tabs">
                        <li><a href="#draw">Draw</a></li>
                        <li><a href="#map">Tile</a></li>
                        <li><a href="#music">Music</a></li>
                    </ul>
                </nav>
            </header>

            <div id="content">
                <div id="render"></div>
                <input type="color" id="primary-color" class="color"
                       value="#000000">
                <input type="color" id="secondary-color" class="color"
                       value="">
            </div>

            <footer id="footer">
                <ul class="links">
                    <li>
                        "<a href="http://glyphicons.com/">GLYPHICONS</a>"
                        is licensed under
                        <a href="https://creativecommons.org/licenses/by/3.0/us/">
                            CC BY 3.0
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
    </body>
</html>
