<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Adventure Kit</title>

        <link rel="stylesheet" href="/dist/css/all.css">

        <script src="/dist/js/all.js"></script>
    </head>

    <body>
        <div id="root">
            <canvas id="bg-canvas" width="512" height="512"></canvas>
            <canvas id="draw-canvas" width="512" height="512"></canvas>
            <canvas id="overlay-canvas" width="512" height="512"></canvas>
        </div>
    </body>
</html>
