<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Adventure Kit</title>

        <link rel="stylesheet" href="/dist/css/all.css">

        <script src="/dist/js/all.js"></script>
    </head>

    <body>
        <div id="root">
            <div id="tile-map"></div>

            <div id="draw"></div>
        </div>
    </body>
</html>
