<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>hiro</title>

        <link rel="stylesheet" href="/css/reset.css">

        <script src="/js/bundle.js"></script>
    </head>

    <body>
        <div id="root"></div>
    </body>
</html>
