#render {
  position: absolute;
  top: 12px;
  right: 12px;
}

/* Huge thanks to Kasper Sebastian Brandt on StackOverflow for this fix. */
/* http://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */

img.pixel {
  image-rendering: optimizeSpeed;             /* FUCK SMOOTHING */
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Chrome and eventually Safari */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
}
