#render {
  position: absolute;
  top: 12px;
  right: 12px;
}

img.pixel {
  image-rendering: optimizeSpeed;             /* FUCK SMOOTHING */
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Chrome and eventually Safari */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
  width: 1024px;
  height: 256px;
}
