@import url('http://fonts.googleapis.com/css?family=VT323|Open+Sans:300italic,400italic,700italic,700,300,400');

html, body, #root {
  width: 100%;
  height: 100%;
}

/* Background made by Anchour on subtlepatterns.com */
body {
  background: url('/img/concrete_seamless.png');
}

#root {
  font-family: 'Open Sans', sans-serif;
  color: #111;
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
}

#header h1.title {
  font-family: 'VT323', monospace;
  font-size: 42px;
  margin: 12px;
}

#header nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 18px;
}

#header nav .tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#header nav .tabs a {
  text-decoration: none;
  color: #111;
}

#header nav .tab {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
  padding: 6px 12px;
  margin: 0 6px;
}

#header nav .tab.active {
  background: #00a;
}

#header nav .tab.active a {
  color: #eee;
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 8px 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#content {
  position: relative;
}

#render {
  position: absolute;
  top: 12px;
  right: 12px;
}

canvas.draw {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: crosshair;
}

/* Huge thanks to Kasper Sebastian Brandt on StackOverflow for this fix. */
/* http://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */

img.pixel {
  image-rendering: optimizeSpeed;             /* FUCK SMOOTHING */
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Chrome and eventually Safari */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
}
