#draw {
  display: flex;
  flex-direction: row;
}

#draw .toolbar {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

#draw .color-picker {
  width: 50px;
  height: 50px;
}

#draw .color-picker .primary {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

#draw .color-picker .secondary {
  position: relative;
  bottom: 14px;
  left: 14px;
  z-index: 0;
}

#draw .draw-tools .tool-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
}

.draw-tools .tool-list .btn.active {
  background: #f8b217;
}

#draw .palette-manager {
  margin: 12px 0;
}

#draw .palette {
  width: 48px;
  display: flex;
  flex-wrap: wrap;
}

#draw .palette .color {
  width: 20px;
  height: 20px;
  margin: 2px;
}

#render {
  position: relative;
  align-self: flex-end;
  width: 1024px;
  height: 1024px;
  margin: 8px 16px;
  overflow: hidden;
}

#render .background {
  width: 1024px;
  height: 1024px;
  background: #565556;
}

#render .surface {
  position: relative;
  cursor: crosshair;
}

#render .surface canvas.draw {
  position: absolute;
  top: 0;
  left: 0;
}

.render-container {
  display: flex;
}

#draw input.title {
  width: 90%;
  padding: 4px 8px;
  margin: 4px 15px;
  font-size: 18px;
  background: #777;
}

#draw .palette-manager .icon {
  width: 12px;
  height: 12px;
}

.edit-palette .colors {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.edit-palette .color {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 3px;
}

.edit-palette .color .swatch {
  width: 40px;
  height: 40px;
}

.edit-palette .color .remove {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-face: bold;
  font-size: 14px;
  color: #000;
  margin-right: 2px;
}

.edit-palette .content {
  display: flex;
}
