#draw {
  display: flex;
  flex-direction: row;
}

#draw #render {
  align-self: flex-end;
  cursor: crosshair
}

#draw .color-picker {
  position: relative;
  width: 50px;
  height: 50px;
}

#draw .color-picker .primary {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#draw .color-picker .secondary {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

#draw .draw-tools .tool-list {
  display: flex;
  flex-direction: column;
}

.draw-tools .tool-list .btn {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.draw-tools .tool-list .btn .img-container {
  border: 5px solid rgba(0, 0, 0, 0);
}

.draw-tools .tool-list .btn.active  .img-container{
  border: 5px solid #07a;
}

.draw-tools .tool-list .btn img {
  padding: 6px;
}
