.instrument .components {
  display: flex;
}

.instrument .component {
  display: flex;
  flex-direction: column;
}

.instrument input[type="number"] {
  width: 50px;
}

.instrument-list {
  width: 200px;
}

.instrument-list .instrument.active {
  background: rgba(255, 255, 255, 0.2);
}
