.instrument .components {
  display: flex;
}

.instrument .component {
  display: flex;
  flex-direction: column;
}

.instrument input[type="number"] {
  width: 50px;
}

.instrument-list {
  width: 200px;
}

.instrument-list .instrument.active {
  background: rgba(255, 255, 255, 0.2);
}

.edit-instrument .components {
  display: flex;
  justify-content: center;
}

.edit-instrument .component {
  width: 180px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.edit-instrument .new-component {
  width: 50px;
  height: 70px;
  padding: 5px;
  background: rgba(0, 0, 0, 0);
  color: #eee;
  border: 3px dashed #ddd;
  font-size: 28px;
  font-weight: bold;
}

#keyboard {
  display: flex;
  flex-direction: row;
  color: #eee;
  position: relative;
}

#keyboard .key {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  float: left;
  position: relative;
}

#keyboard .key .char {
  position: absolute;
  bottom: 12px;
  left: 25%;
}

#keyboard .keys {
  position: absolute;
}

#keyboard .black.keys {
  left: 41px;
}

#keyboard .white.key {
  width: 48px;
  height: 160px;
  background: #ccc;
  color: #111;
}

#keyboard .black.key {
  width: 18px;
  height: 80px;
  background: #111;
  z-index: 1;
  margin-left: 30px;
}

#keyboard .black.key.first {
  margin-left: 0;
}

#keyboard .black.spacer {
  opacity: 0;
}
